.header {
  background-color: #1f4841;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

nav a::before,
nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

nav a::before {
  left: 50%;
}

nav a::after {
  right: 50%;
}

nav a:hover::before,
nav a:hover::after {
  width: 50%;
}

nav a:hover {
  color: var(--primary-color);
}
