.header {
    background-color: var(--secondary-color); /* Dark background */
    padding: 15px 0; /* Adjust padding as needed */
    position: fixed; /* Fix to the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Ensure it's above other content */
  }
  
  nav {
    display: flex;
    justify-content: center; /* Center the links */
  }
  
  nav a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500; /* Slightly bolder font */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  nav a:hover {
    color: var(--primary-color);
  }
  