.App {
  text-align: center;
}

main {
  padding: 60px;
}

section {
  margin: 20px 0;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

section h2 {
  color: var(--primary-color);
  font-size: 28px;
}

section p {
  color: var(--text-color);
  font-size: 18px;
}

section a {
  color: var(--accent-color);
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}
